.faq {
  display: block;
  list-style: none;
  margin: auto;
  max-width: 23cm;

  &__question {
    // padding-top: $nav-heigth;
    // margin: $nav-heigth 0;
    // border-style: inset;
    // border: 2px;
    border-color: black; //$color-grey-dark-1;
    cursor: pointer;
    font-size: 2rem;
  }

  &__answer {
    display: none;
    margin-left: 2rem;
    font-size: 1.5rem;

    &--active {
      display: block;
    }
  }
}
