.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    position: relative;
    text-align: center;
  }

  &__img {
    transform: translateY(-6rem);
    height: 60vh;
    width: 80vw; /* must be removed*/
    margin-top: 10vh;
  }

  &__h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-grey-light-1;
    width: 100%;
  }
}

.open-hours {
  font-size: medium;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  transform: translate(0%, -3vh);
  text-align: center;
  vertical-align: middle;
}
