$map-width: 50vw;

#map {
  flex: 1;
  height: 50vh;
  width: $map-width;
  background-color: #f3f3f3;
  margin: auto;
  z-index: 1;
}

.address {
  padding-top: 1.5rem;
  display: flex;

  p {
    margin: auto;
    width: $map-width;
    font-size: 1.5rem;
  }
}
