.team {
  margin: auto;
  max-width: 90%;

  &__people {
    display: flex;
    justify-content: center;
  }

  &__person {
    text-align: center;
    margin: 0 3%;
    border-bottom: 5px solid $color-grey-light-3;
    transition: $transition-time;

    &.active {
      border-color: $color-primary;
    }

    & .photo {
      border: 1px solid $color-grey-light-3;
    }
  }
  &__description {
    font-size: medium;
    max-width: 60%;
    margin: auto;
    padding-top: 2%;
    transition: $transition-time;
  }
}
